<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="bodyCloud">
        <div class="cloudSection">

        </div>
        <div class="wordDisplay">
              <div class="wc-wrap">
                <canvas id="wc-canvas"></canvas>
                <div id="wc-div"></div>
              </div>
              <div class="textBox">
              </div>
        </div>
        <div class="textDisplay">
        </div>
    <div>
  </body>
</html>
