<!DOCTYPE html>
<html>

<head>
  <title>Edit User</title>
</head>

<body>
  <form method="post" action="/edit">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name">
    <label for="last_Name">Last Name</label>
    <input type="text" name="last_Name" id="last_Name">
    <label for="twitter">Twitter</label>
    <input type="text" name="twitter" id="twitter">

    <input type="submit">
  </form>
</body>

</html>
