<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/form.css' />
</head>

<body class="login-body">
	<% include partials/nav %>
      <div class="form-page" id="login-page">
          <div class="login-text">
              <h2 class="form-head" id="login-h2"> Log In: </h2>
          </div>
        	<form class="form-login" method="post" action="/login">
        		<!-- <label class="form-label" for="email">Email</label> -->
        		<input class="form-input" type="text" name="email" value="Email"  id="email">
        		<!-- <label class="form-label" for="password">Password</label> -->
        		<input class="form-input" type="password" name="password" value="Password" id="password">

        		<input class="form-submit myButton" type="submit">
        	</form>
      <div>
</body>

</html>
