<!DOCTYPE html>
<html>
  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

  <script type="text/javascript" src="javascripts/password.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/wc.css">
<head>
	<title>Signup</title>
</head>

<body class="signup-body">
	<% include partials/nav %>
	<form method="post" action="/signup">
		<label for="email">Email</label>
		<input type="text" name="email" id="email">
		<label for="password">Password</label>
		<input type="password" name="password" id="password">
    <label for="first_name">First Name</label>
    <input type="text" name="First Name" id="first_name">
    <label for="last_Name">Last Name</label>
    <input type="text" name="Last Name" id="last_Name">
    <label for="twitter">Twitter</label>
    <input type="text" name="Twitter handle" id="twitter">

		<input type="submit">
	</form>
</body>

</html>
