<!DOCTYPE html>
<html>
  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="javascripts/password.js"></script>

<head>
	<title>Signup</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/form.css' />
</head>

<body class="signup-body">
	<% include partials/nav %>
    <div class="form-page" id="sign-page">
        <div class="sign-text">
              <h2 class="form-head" id="sign-h2"> Sign Up! </h2>
              <!-- <p class="login-head" id="login-p">   </p> -->
          </div>
      	<form class="form-signup" method="post" action="/signup">
      		<!-- <label class="form-label" for="email">Email</label> -->
      		<input class="form-input" type="text" name="email" value="Email" id="email">
      		<!-- <label class="form-label" for="password">Password</label> -->
      		<input class="form-input" type="password" name="password" value="Password"  id="password">
         <!--  <label class="form-label" for="first_name">First Name</label> -->
          <input class="form-input" type="text" name="first_name" value="First Name" id="first_name">
         <!--  <label class="form-label" for="last_Name">Last Name</label> -->
          <input class="form-input" type="text" name="last_name" value="Last Name" id="last_Name">
          <!-- <label class="form-label" for="twitter">Twitter</label> -->
          <input class="form-input" type="text" name="twitter" value="Twitter" id="twitter">

      		<input class="form-submit myButton" type="submit">
      	</form>
      </div>
</body>

</html>
