<!DOCTYPE html>
<html>

<head>
	<title>Signup</title>
</head>

<body>
	<form method="post" action="/signup">
		<label for="email">Email</label>
		<input type="text" name="email" id="email">
		<label for="password">Password</label>
		<input type="password" name="password" id="password">
    <label for="first_name">First Name</label>
    <input type="text" name="First Name" id="first_name">
    <label for="last_Name">Last Name</label>
    <input type="text" name="Last Name" id="last_Name">
    <label for="twitter">Twitter</label>
    <input type="text" name="Twitter handle" id="twitter">

		<input type="submit">
	</form>
</body>

</html>
