<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="bodyUser">
        <div class="topSection">
              <button>Create +</button>
              <div class="userInfo">
                  <h2><%= user.first_name %></h2>
              </div>
              <div class="createCloud">

              </div>
        </div>
        <div class="thumbGallery">

        </div>
    <div>
  </body>
</html>
