h1, h2, h3, h4, h5, h6, p, a {
	color: #f7f7f7;
	text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  background-image: url("/images/abstract_lights_seamless2.jpg");
  background-position: 0px -350px;
}

::-webkit-scrollbar { 
    display: none; 
}