.bodyUser {
	width: 98vw;
	margin: 0 auto;
	text-align: center;
}

.gallery-image {
	width: 30vw;
	margin: 1vw;
	display: inline-block;
	img {
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}
}

.thumbGallery {
	margin: 0 auto;
	margin-top: 1vh;
	padding: 1vh 1vw;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.5);
	border-radius: 10px;
}

.wrap-create {
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	> .wc-wrap {
		width: 60vw;
	}
	> .wc-entry-wrap {
		width: 35vw;
		form {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			#btn-save {
				margin-top: 1vh;
			}
		}
		#wc-text-input {
			margin: 0 auto;
			width: 80%;
			height: 20vh;
		}
	}
}

@media only screen and (max-device-width: 768px) {
	.gallery-image {
		width: 46vw;
	}
}