<!DOCTYPE html>
<html>
  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"
  integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
  crossorigin="anonymous"></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="/stylesheets/wc.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/cloud.css">

<head>
	<title>Cloud Gallery</title>
</head>
<body>
	<% include ../partials/nav %>
	<h1>Cloud Gallery</h1>
  <ul>
    <div class="tag-display">
    <% clouds.forEach(function(cloud){ %>

    <li>   <img src="<%= cloud.image %>">      </li>
    <% }); %>
    </div>
  </ul>

</body>
</html>
